body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f9;
}

.admin-container {
  display: flex;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: linear-gradient(#d88ab2,#cfa3e8);
  color: white;
  padding: 20px;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li.active {
  background: rgba(255,255,255,0.2);
}

.main-content {
  flex: 1;
  padding: 20px;
}

.card {
  border-radius: 10px;
}